<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link
  href="/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Responsive datatable examples -->
<link
  href="/admin/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('breadcrumb') %>

<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="mb-sm-0">Users</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%- contentFor('body') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
  
        <div class="table-responsive mt-3">
          <table
            class="table table-centered datatable dt-responsive nowrap"
            style="border-collapse: collapse; border-spacing: 0; width: 100%"
          >
            <thead class="thead-light">
              <tr>
                <th style="width: 20px">
                  <div class="form-check">
                    <input
                      type="checkbox" 
                      class="form-check-input"
                      id="customercheck"
                    />
                    <label class="form-check-label mb-0" for="customercheck"
                      >&nbsp;</label
                    >
                  </div>
                </th>
                <th>ID</th>
                <th>name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>massege</th>
              </tr>
            </thead>
            <tbody id="listen">
              <% for(const contact of contacts){ %>
              <tr>
                <td>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="customercheck1"
                    />
                    <label class="form-check-label mb-0" for="customercheck1"
                      >&nbsp;</label
                    >
                  </div>
                </td>
                <td><%= contact.id%></td>
                <td><%= contact.name%></td>
                <td><%= contact.email%></td>
                <td><%= contact.subject%></td>
                <td><%= contact.Message%></td>

              </tr>
              <% } %> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="/admin/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="/admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/admin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="/admin/assets/js/pages/ecommerce-datatables.init.js"></script>

<%- contentFor('BottomJs') %>
