<!DOCTYPE html>
<html lang="en">
  <!-- include header -->
  <%- include("./header.ejs") %>
  <body>
    <!-- include loading -->
    <%- include("./loading") %>

    <!-- includen nav -->
    <%- include("./nav") %> 
    
    <%- body %>

    <!-- include back-button -->
    <%- include("./backButton.ejs") %>

    <!-- include footer -->
    <%- include("./footer.ejs") %>

    <!-- include script -->
    <%- include("./script.ejs") %>
  </body>
</html>
