<!DOCTYPE html>
<html lang="en">
  <%- include("./header") %>

  <body>
    <!-- ======= Header ======= -->
    <%- include("./navigation") %>
    <!-- End Header -->

    <%-body %>

    <!-- ======= Footer ======= -->
    <%- include("./footer") %>

    <!-- End Footer -->

    <%- include("./script") %>
  </body>
</html>
