<!DOCTYPE html>
<html lang="zxx">
  <!-- Html Head -->
  <%- include("./layouts/head.ejs") %>

  <body class="menu-layer">
    <!-- Loader -->
    <%- include("./layouts/loader.ejs") %>

    <!-- Navigation -->
    <%- include("./layouts/nav.ejs") %>

    <!-- hero-section -->
    <section class="hero-section about gap">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6"
            data-aos="fade-up"
            data-aos-delay="200"
            data-aos-duration="300"
          >
            <div class="about-text">
              <ul class="crumbs d-flex">
                <li><a href="index.html">Home</a></li>
                <li class="two">
                  <a href="index.html"
                    ><i class="fa-solid fa-right-long"></i>Restaurants</a
                  >
                </li>
              </ul>
              <h2>Restaurants</h2>
              <p>
                Egestas sed tempus urna et pharetra pharetra massa. Fermentum
                posuere urna nec tincidunt praesent semper.
              </p>
              <div class="restaurant">
                <div class="nice-select-one">
                  <select class="nice-select Advice">
                    <option>Choose a Restaurant</option>
                    <option>Choose a Restaurant 1</option>
                    <option>Choose a Restaurant 2</option>
                    <option>Choose a Restaurant 3</option>
                    <option>Choose a Restaurant 4</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6"
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-duration="400"
          >
            <div class="restaurants-girl-img food-photo-section">
              <img alt="man" src="https://via.placeholder.com/676x585" />
              <a href="#" class="one"
                ><i class="fa-solid fa-burger"></i>Burgers</a
              >
              <a href="#" class="two"
                ><i class="fa-solid fa-drumstick-bite"></i>Chicken</a
              >
              <a href="#" class="three"
                ><i class="fa-solid fa-cheese"></i>Steaks</a
              >
              <a href="#" class="for"
                ><i class="fa-solid fa-pizza-slice"></i>Fish</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- banner -->
    <section
      class="banner"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="300"
    >
      <div class="container">
        <div
          class="banner-img"
          style="background-image: url(https://via.placeholder.com/1400x393)"
        >
          <div class="banner-logo">
            <h4>
              Restaurant<br />of the Month
              <span class="chevron chevron--left"></span>
            </h4>
            <div class="banner-wilmington">
              <img alt="logo" src="https://via.placeholder.com/40x40" />
              <h6>The Wilmington</h6>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-lg-12">
              <div class="choose-lunches">
                <h2>Choose 2 lunches</h2>
                <h3>pay for one</h3>
                <a href="#" class="button button-2 non"
                  >Order Now<i class="fa-solid fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- best-restaurants -->
    <section class="best-restaurants gap">
      <div class="container">
        <div class="row" id="list">
          <% for(const hotel of hotels){ %> <%#= hotel.image %>
          <div
            class="col-lg-6 mb-2"
            data-aos="flip-up"
            data-aos-delay="200"
            data-aos-duration="300"
          >
            <div class="logos-card restaurant-page">
              <img
                alt="logo"
                src="<%= hotel.image %>"
                style="width: 10rem; height: 8rem"
              />

              <div class="cafa">
                <h4>
                  <a href="/restorents/<%=hotel.id %> "><%= hotel.name %></a>
                </h4>
                <div>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
                <div class="cafa-button">
                  <% for(const food of hotel.famousFood){ %>
                  <a href="#"><%= food %></a>
                  <% } %>
                </div>
                <p><%= hotel. description %></p>
                <button
                  data-id="<%= hotel.id %>"
                  type="reset"
                  style="
                    color: white;
                    background-color: red;
                    border: 0;
                    padding: 5px;
                    border-radius: 7px;
                  "
                >
                  <i
                    class="fas fa-trash-alt"
                    style="color: white; font-size: 0.9rem"
                  ></i>
                  Delete
                </button>

                <button
                  data-Doc="<%= hotel.id %>"
                  type="reset"
                  style="
                    color: white;
                    background-color: rgb(0, 150, 7);
                    border: 0;
                    padding: 5px;
                    border-radius: 7px;
                  "
                >
                  <i
                    class="far fa-edit"
                    style="color: white; font-size: 0.9rem"
                  ></i>
                  update
                </button>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <!-- subscribe-section -->
    <section class="subscribe-section gap" style="background: #fcfcfc">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-lg-6"
            data-aos="flip-up"
            data-aos-delay="200"
            data-aos-duration="300"
          >
            <div class="img-subscribe">
              <img
                alt="Illustration"
                src="https://via.placeholder.com/676x403"
              />
            </div>
          </div>
          <div
            class="col-lg-5 offset-lg-1"
            data-aos="flip-up"
            data-aos-delay="300"
            data-aos-duration="400"
          >
            <div class="get-the-menu">
              <h2>Get the menu of your favorite restaurants every day</h2>
              <form>
                <i class="fa-regular fa-bell"></i>
                <input
                  type="text"
                  name="email"
                  placeholder="Enter email address"
                />
                <button class="button button-2">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include("./layouts/footer.ejs") %>

    <!-- Script -->
    <%- include("./layouts/script.ejs") %>

    <script>
      let div = document.querySelector("#list");

      div.addEventListener("click", (e) => {
        e.preventDefault();
        console.log(e.target);

        if (e.target.hasAttribute("data-id")) {
          const hotelid = e.target.getAttribute("data-id");
          console.log(hotelid);

          fetch(`/restorents/${hotelid}`, { method: "delete" })
            .then(location.reload())
            .catch((error) => {
              console.log(error);
            });
        }

        if (e.target.hasAttribute("data-Doc")) {
          const hotelid = e.target.getAttribute("data-Doc");
          console.log(hotelid);

          location.href = `/restorents/updateform/${hotelid}`;
        }
      });
    </script>
  </body>
</html>
