<!DOCTYPE html>
<html lang="zxx">
  <!-- Html Head -->
  <%- include("./layouts/head.ejs") %>

  <body class="menu-layer">
    <!-- Loader -->
    <%- include("./layouts/loader.ejs") %>

    <!-- Navigation -->
    <%- include("./layouts/nav.ejs") %>

    <!-- hero-section -->
    <section
      class="hero-section about single-blog gap"
      style="background-image: url(/assets/img/background-3.png)"
      data-aos="flip-up"
      data-aos-delay="300"
      data-aos-duration="400"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="offset-xl-2 col-xl-6 col-lg-12">
            <div class="about-text">
              <ul class="crumbs d-flex">
                <li><a href="index.html">Home</a></li>
                <li>
                  <a href="index.html"
                    ><i class="fa-solid fa-right-long"></i>blog</a
                  >
                </li>
                <li class="two">
                  <a href="index.html"
                    ><i class="fa-solid fa-right-long"></i>Single Blog Page</a
                  >
                </li>
              </ul>
              <div class="quickeat">
                <a href="#">restaurants</a>
                <a href="#">cooking</a>
              </div>
              <h2> <%=hotel.name %>  </h2>
              <ul class="data">
                <li>
                  <h6>
                    <i class="fa-regular fa-calendar-days"></i>01.Jan. 2022
                  </h6>
                </li>
                <li>
                  <h6><i class="fa-solid fa-eye"></i>132</h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="col-lg-6">
                <div class="photo-blog">
                  <img alt="img" src="<%=hotel.image %> "  style="width: 20rem; height: 13rem;" />
                </div>
              </div>
          </div>
          <div class="col-lg-12">
            <div class="img-blog-full">
              <!-- <img
                alt="blog-page-img"
                src="https://via.placeholder.com/1116x584"
              /> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- blog-content -->
    <section class="blog-content gap no-top">
      <div class="container">
        <div class="row">
          <div class="offset-xl-2 col-xl-8 col-lg-12">
            <div class="title-container">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor <span>incididunt ut labore et</span> dolore magna
                aliqua. Iaculis nunc sed augue lacus viverra vitae congue eu
                consequat. Id consectetur purus ut faucibus pulvinar elementum
                integer. <span>Vitae congue mauris</span> rhoncus aenean vel
                elit scelerisque. Mollis nunc sed id semper. Ac orci phasellus
                egestas tellus rutrum tellus pellentesque.<br /><br />
              </p>

              <div class="row">
                <div class="col-lg-6">
                  <div class="photo-blog">
                    <img alt="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf5h_IAPkBtf1mgmJ0FsrNHho1g12oOLZIVw&usqp=CAU" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="photo-blog">
                    <img alt="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf5h_IAPkBtf1mgmJ0FsrNHho1g12oOLZIVw&usqp=CAU" />
                  </div>
                </div>
              </div>
              <!-- <br />
              <h2>
                H2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </h2>
              <p>
                <b>Iaculis nunc sed augue lacus viverra.</b><br />
                Id consectetur purus ut faucibus pulvinar elementum integer.
                Vitae congue mauris rhoncus aenean vel elit scelerisque. Mollis
                nunc sed id semper. Ac orci phasellus egestas tellus rutrum
                tellus pellentesque. Urna nec tincidunt praesent semper feugiat
                nibh sed.
                <br /><br />
                <b>Enim praesent elementum facilisis leo vel fringilla est.</b
                ><br />
                Porta nibh venenatis cras sed felis eget velit aliquet sagittis.
                At in tellus integer feugiat scelerisque varius. Tincidunt arcu
                non sodales neque sodales ut etiam sit amet. Auctor urna nunc id
                cursus metus. Eros donec ac odio tempor orci dapibus ultrices
                in. Suspendisse sed nisi lacus sed. Sed risus ultricies
                tristique nulla aliquet. Aenean vel elit scelerisque mauris
                pellentesque pulvinar pellentesque habitant.
              </p>

              <div class="quote">
                <div class="quote-text">
                  <img alt="quote" src="/assets/img/elements-1.svg" />
                  <div class="quote-icon">
                    <h4>
                      Whenever you feel like criticizing any one,» he told me,
                      «just remember that all the people in this world haven’t
                      had the advantages that you’ve had.
                    </h4>
                  </div>
                </div>
                <h6>Francis Scott Key Fitzgerald "The Great Gatsby"</h6>
              </div>
              <h3>
                H3 Massa massa ultricies mi quis hendrerit. Sed enim ut sem
                viverra aliquet eget sit amet.
              </h3>
              <p>
                Velit egestas dui id ornare arcu odio ut. Lacus suspendisse
                faucibus interdum posuere lorem ipsum. Commodo sed egestas
                egestas fringilla phasellus faucibus. Nullam vehicula ipsum a
                arcu cursus vitae. Nulla facilisi morbi tempus iaculis urna id.
                Tortor dignissim convallis aenean et. At erat pellentesque
                adipiscing commodo elit at.
              </p>
          
              <h4>
                H4 Quis imperdiet massa tincidunt nunc pulvinar sapien et. Eu
                consequat ac felis donec et odio. Platea dictumst quisque
                sagittis purus.
              </h4>
              <p>
                In fermentum posuere urna nec. Vestibulum lectus mauris ultrices
                eros in cursus turpis massa. Nisl purus in mollis nunc sed id.
                At urna condimentum mattis pellentesque id. Neque ornare aenean
                euismod elementum nisi quis eleifend quam adipiscing. Sit amet
                aliquam id diam.
              </p>
              <ul class="blog-list">
                <li>In fermentum posuere urna nec;</li>
                <li>Vestibulum lectus mauris ultrices eros;</li>
                <li>In cursus turpis massa;</li>
                <li>Nisl purus in mollis nunc sed id;</li>
                <li>At urna condimentum mattis;</li>
                <li>IPellentesque habitant morbi tristique.</li>
              </ul>
              <p>
                At erat pellentesque adipiscing commodo elit. Dignissim enim sit
                amet venenatis urna cursus eget nunc. Ut ornare lectus sit amet
                est placerat in egestas erat. Ante metus dictum at tempor.
                Pulvinar elementum integer enim neque volutpat ac tincidunt
                vitae semper.
              </p>
              <h6 class="data">Updated: December 26, 2022</h6>
              <div class="quickeat tags">
                <a href="#">restaurants</a>
                <a href="#">cooking</a>
              </div>
            </div>
            <div class="author-gap">
              <div class="row align-items-center">
                <div class="col-lg-4">
                  <div class="previous-posts">
                    <img alt="img" src="https://via.placeholder.com/105x105" />
                    <div>
                      <h6>
                        How Restaurants Can Engage with Millennials in 2022
                      </h6>
                      <a href="#">Prev. Posts by this author</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="name-dedails">
                    <img alt="girl" src="https://via.placeholder.com/80x80" />
                    <h6>Roxie Gilbert</h6>
                    <span>press secretary Quickeat</span>
                    <ul class="social-media">
                      <li>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="previous-posts next">
                    <div>
                      <h6>Why You Should Optimize Your Menu for Delivery</h6>
                      <a href="#">Next Post by this author</a>
                    </div>
                    <img alt="img" src="https://via.placeholder.com/105x105" />
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <h2><span>9</span> Comments</h2>
            </div>
            <ul class="comment gap no-top">
              <li>
                <div class="comment-text">
                  <p>
                    Vitae congue mauris rhoncus aenean vel elit scelerisque.
                    Mollis nunc sed id semper. Ac orci phasellus egestas tellus
                    rutrum tellus pellentesque. Urna nec tincidunt praesent
                    semper feugiat nibh sed pulvinar proin. Enim praesent
                    elementum facilisis leo vel fringilla est. Porta nibh
                    venenatis cras sed felis eget velit aliquet sagittis. At in
                    tellus integer feugiat scelerisque varius.
                  </p>
                  <a href="#"
                    ><span>Reply<i class="fa-solid fa-reply"></i></span
                  ></a>
                </div>
                <div class="author-name-comment">
                  <div>
                    <h6>Jackie Johnson</h6>
                    <span>30.Dec. 2022</span>
                  </div>
                  <img alt="man" src="https://via.placeholder.com/50x50" />
                </div>
              </li>
              <li class="reply one">
                <div class="comment-text">
                  <p>
                    Auctor urna nunc id cursus metus. Eros donec ac odio tempor
                    orci dapibus ultrices in. Suspendisse sed nisi lacus sed.
                    Sed risus ultricies tristique nulla aliquet.
                  </p>
                  <a href="#"
                    ><span>Reply<i class="fa-solid fa-reply"></i></span
                  ></a>
                </div>
                <div class="author-name-comment">
                  <img alt="man" src="https://via.placeholder.com/50x50" />
                  <div>
                    <h6>Annie Adamson</h6>
                    <span>30.Dec. 2022</span>
                  </div>
                </div>
              </li>
              <li class="reply two">
                <div class="comment-text">
                  <p>
                    Ac felis donec et odio pellentesque. Amet nisl suscipit
                    adipiscing bibendum est ultricies. Tincidunt augue interdum
                    velit euismod. Vitae sapien pellentesque habitant morbi.
                    Feugiat nibh sed pulvinar proin gravida.
                  </p>
                  <a href="#"
                    ><span>Reply<i class="fa-solid fa-reply"></i></span
                  ></a>
                </div>
                <div class="author-name-comment">
                  <img alt="man" src="https://via.placeholder.com/50x50" />
                  <div>
                    <h6>Annie Adamson</h6>
                    <span>30.Dec. 2022</span>
                  </div>
                </div>
              </li>
              <li class="reply three">
                <div class="comment-text">
                  <p>
                    Tortor condimentum lacinia quis vel eros donec ac odio
                    tempor. Varius sit amet mattis vulputate enim. Velit egestas
                    dui id ornare arcu odio ut. Lacus suspendisse faucibus
                    interdum posuere lorem ipsum. Commodo sed egestas egestas
                    fringilla phasellus.
                  </p>
                  <a href="#"
                    ><span>Reply<i class="fa-solid fa-reply"></i></span
                  ></a>
                </div>
                <div class="author-name-comment">
                  <img alt="man" src="https://via.placeholder.com/50x50" />
                  <div>
                    <h6>Annie Adamson</h6>
                    <span>30.Dec. 2022</span>
                  </div>
                </div>
              </li>
              <li class="hide-button">
                <a href="#"
                  ><h6>Hide<i class="fa-solid fa-angle-up"></i></h6
                ></a>
              </li>
              <li>
                <div class="comment-text">
                  <p>
                    Vitae congue mauris rhoncus aenean vel elit scelerisque.
                    Mollis nunc sed id semper. Ac orci phasellus egestas tellus
                    rutrum tellus pellentesque. Urna nec tincidunt praesent
                    semper feugiat nibh sed pulvinar proin. Enim praesent
                    elementum facilisis leo vel fringilla est. Porta nibh
                    venenatis cras sed felis eget velit aliquet sagittis. At in
                    tellus integer feugiat scelerisque varius.
                  </p>
                  <a href="#"
                    ><span>Reply<i class="fa-solid fa-reply"></i></span
                  ></a>
                </div>
                <div class="author-name-comment">
                  <div>
                    <h6>Edgar Johnson</h6>
                    <span>30.Dec. 2022</span>
                  </div>
                  <img alt="man" src="https://via.placeholder.com/50x50" />
                </div>
              </li>
              <li class="show-all-button">
                <h6>
                  4 more answers
                  <a href="#"
                    ><span>Show All<i class="fa-solid fa-angle-down"></i></span
                  ></a>
                </h6>
              </li>
              <li>
                <div class="button-gap">
                  <a href="#" class="button button-2 non"
                    >See all comments<i class="fa-solid fa-angle-down"></i
                  ></a>
                </div>
              </li> -->
            </ul>
            <div class="comment">
              <h2>Leave your comment</h2>
              <form class="comment-blog">
                <textarea placeholder="Enter you comment"></textarea>
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" name="name" placeholder="Your Name" />
                  </div>
                  <div class="col-lg-6">
                    <input
                      type="text"
                      name="Email"
                      placeholder="Email Address"
                    />
                  </div>
                </div>
                <button class="button-price">Publish a comment</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- Footer -->
      <%- include("./layouts/footer.ejs") %>

      <!-- Script -->
      <%- include("./layouts/script.ejs") %>
  </body>
</html>
